<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<html>
<head>
    <title>Home</title>
    <script th:src="@{/webjars/sockjs-client/0.3.4/sockjs.min.js}"></script>
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
</head>
<body>

    <form id="spittleForm">
        <textarea rows="4" cols="60" name="text"></textarea>
        <input type="submit"/>
    </form>

    <button id="stop">Stop</button>
    <script th:inline="javascript">
        $('#spittleForm').submit(function(e){
            e.preventDefault();
            var text = $('#spittleForm').find('textarea[name="text"]').val();
            sendSpittle(text);
        });


        var sock=new SockJS('/spittr');
        var stomp=Stomp.over(sock);

        stomp.connect('guest','guest',function(frame){

            console.log("Connected");
            stomp.subscribe("/topic/spittlefeed",handleSpittle);
            stomp.subscribe("/user/queue/notifications",handleNotification);
        });


        function handleSpittle(message) {
            console.log('Spittle:', message);
            $('#output').append("<b>Received spittle: " + JSON.parse(message.body).message + "</b><br/>");
        }

        function handleNotification(message) {
            console.log('Notification: ', message);
            $('#output').append("<b>Received: " +
                JSON.parse(message.body).message + "</b><br/>")
        }





        function sendSpittle(text){
            console.log('Sending Spittle');
            stomp.send("/app/spittle",{},JSON.stringify({'text':text}));

        }



        $('#stop').click(function() {sock.close()});
    </script>
    <div id="output"></div>
</body>
</html>